@import "~react-image-gallery/styles/css/image-gallery.css";
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap'); */

body {
  margin: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  font-feature-settings: 'palt' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*   letter-spacing: 0.1em; */
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

code {
  font-family: sans-serif;
  font-feature-settings: 'palt';
    /* monospace; */
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}